.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 10%;
  width: 100%;
  background-color: #8a5a44;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Nanum Gothic', sans-serif;
  z-index: 5;
}

.header svg {
  width: 4rem;
  height: 4rem;
  margin-left: 2.7rem;
  margin-top: 0.3rem;
  animation: header-logo 2s ease;
}

@media only screen and (max-width: 1000px) {
  .header {
    position: fixed;
  }
}

@keyframes header-logo {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  55%{
    opacity: 0.6;
  }
  75%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}