nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
}

.nav-active {
  transform: translateX(0%);
  animation: mobileNavBarActive 1s ease;
}

#nav-logo {
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  font-family: sans-serif;
  z-index: 5;
}

nav ul li {
  padding: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.8;
  height: 1.8rem;
  font-family: 'Pangolin', cursive;
  opacity: 0;
  animation: navItemFadeIn 2.5s ease;
}

nav ul li:nth-child(6) {
  border: 1px solid white;
  border-radius: 0.2rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding-top: 0.4rem;
}

nav ul li:nth-child(6):hover {
  background-color: rgb(255, 102, 0);
}

#nav-item:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  opacity: 0.7;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

#nav-item:hover:before {
  transform: scale(1);
  transform-origin: left;
}

@media only screen and (max-width: 875px) {
  nav ul li{
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 820px) {
  nav ul li{
    font-size: 0.6rem;
  }
  nav ul li:nth-child(6) {
    padding-top: 0.5rem;
  }
}

@media only screen and (max-width: 775px) {
  nav ul{
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50%;
    top: 0;
    background-color: #06162D;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    animation: mobileNavBarHide 1s ease;
    transform: translateX(100%);
    transition: transform 0.1s ease-in;
  }

  nav ul li{
    padding: 0;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    height: 1.5rem;
    width: calc(100% - 3rem);
    font-size: 0.8rem;
    opacity: 0;
    padding-bottom: 1rem;
    max-width: 5rem;
  }

  #nav-item:before {
    left: 1rem;
  }

  nav ul li:nth-child(1){
    margin-top: 7rem;
  }

  nav ul li:nth-child(6){
    border: none;
    color: green;
    height: 2rem;
  }

  nav ul li:nth-child(6):hover {
    background-color: rgb(255, 102, 0);
  }
}

@media only screen and (max-width: 470px) {
  nav ul li{
    font-size: 0.6rem;
    padding-left: 1rem;
  }
}

@keyframes navItemFadeIn {
  0%{
    opacity: 0;
    transform: translateX(50px);
  }
  100%{
    opacity: 0.8;
    transform: translateX(0);
  }
}

@keyframes mobileNavBarHide {
  0%{
    width: 50%;
    height: 100vh;
    opacity: 0.9;
  }
  1%{
    opacity: 0;
  }
  100%{
    width: 0;
    height: 0;
  }
}

@keyframes mobileNavBarActive {
  0%{
    width: 0;
    height: 0;
  }
  1%{
    opacity: 0.9;
  }
  100%{
    width: 50%;
    height: 100vh;
  }
}