.work-experience {
  background-color: #C97C5D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ml9 {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ml9 .letters {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
  font-size: 1.5rem;
}

.experience-info {
  margin-top: 2rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-info ul{
  margin-top: 2rem;
}

.experience-info p{
  font-size: 0.6rem;
  padding-top: 0.3rem;
}

.experience-info ul li{
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
  .experience-info {
    width: 100%;
    padding-left: 1.5rem;
  }

  .work-experience .ml9 {
    width: 100%;
  }

  .work-experience {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
  }

  /* .experience-info ul li{
    max-width: 80%;
  }

  .experience-info h4, .experience-info p {
    max-width: 80%;
  } */
}